[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_16_plumbing.git
	branch = main
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_16_plumbing
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/16_plumbing.git
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/16_plumbing
	branch = main
