[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_16_plumbing.git
	branch = main
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_16_plumbing
	branch = main
