[submodule "ku-benjetJer"]
	path = ku-benjetJer
	url = https://github.com/jku20/mk65_16_plumbing.git
	branch = main
[submodule "raoIva"]
	path = raoIva
	url = https://github.com/irao12/systems_16_plumbing
	branch = main
[submodule "ahmedTah"]
	path = ahmedTah
	url = https://github.com/TahsinAhmed13/16_plumbing.git
	branch = main
[submodule "leeSte"]
	path = leeSte
	url = https://github.com/kevidgel/16_plumbing
	branch = main
[submodule "yeGen"]
	path = yeGen
	url = https://github.com/Gene1212/16_plumbing.git
	branch = main
[submodule "nathMic"]
	path = nathMic
	url = https://github.com/Michael-Nath/mnath_plumbing.git
	branch = main
[submodule "prasadAmi"]
	path = prasadAmi
	url = https://github.com/AmitPr/mks65c_16-plumbing.git
	branch = master
[submodule "liSun"]
	path = liSun
	url = https://github.com/sunnyli13/Work16.git
	branch = main
[submodule "zhangJin"]
	path = zhangJin
	url = https://github.com/Jinzxc/16_plumbing_J.git
	branch = main
[submodule "zhangDev"]
	path = zhangDev
	url = https://github.com/dzhang10/hw_16_plumbing.git
	branch = master
